GITHUB_APP_ID=${BOT_APP_ID}
GITHUB_APP_INSTALLATION_ID=${BOT_APP_INSTALLATION_ID}
GITHUB_APP_KEY_FILE=/home/colin/secrets/github-app.pem
COPILOT_GITHUB_TOKEN=${COPILOT_GITHUB_TOKEN}
TAILSCALE_IP=100.100.146.119
